.about {
	@include media-query($on-laptop) { 
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        width: 850px;
    }
    div {
        &:not(.three-facts, .selected-work) {
            @include media-query($on-laptop) { 
                box-sizing: border-box;
                flex: 50%;
                padding-right: 25px;
                padding-left: 25px;
            }
        }
    }
    h3 {
        font-weight: $base-font-extrabold;
        font-size: 1.5rem;
        letter-spacing: -0.6px;
        margin: 0;
        padding: 0;
        margin-bottom: 32px;
        margin-top: 64px;
        @include media-query($on-laptop) { 
            margin-top: 0;
        }
    }
	h4 {
		font-weight: $base-font-extrabold;
		font-size: $base-font-size;
		margin: 0px;
		padding: 0px;
	}
    .three-facts {
		strong {
			display: block;
		}
        p {
            margin-top: 0;
        }
	}
    .about-me {
        margin-bottom: 30px;
        padding-left: 0;
        p {
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .profile-pic {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        margin-top: 30px;
        @include media-query($on-laptop) { 
            display: flex;
            box-sizing: border-box;
            height: 100%;
            width: 50%;
            margin-bottom: 0px;
            margin-top: 0px;
            box-sizing: border-box;
            flex: 50%;
            padding-right: 25px;
            padding-left: 25px;
        }
    }
    .subheadline {
        font-size: 0.8rem;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-top: 6px;
    }
    .description {
        margin-top: 6px;
        margin-bottom: 30px;
    }
    .education {
        scroll-margin-top: 90px;
        @include media-query($on-laptop) { 
            margin-bottom: 30px;
        }
    }
    .selected-work {
        @include media-query($on-laptop) { 
            box-sizing: border-box;
            flex: 50%;
            padding-top: 30px;
        }
    }
}












/*
.about {
    padding-bottom:80px;
    @include media-query($on-laptop) { 
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        width: 850px;
    }
}


.three-facts strong {
	display: block;
}

.three-facts p {
	margin-top: 0;
}

.profile-pic {
	display: block;
	width: 100%;
    margin-bottom: 40px;
    margin-top: 30px;
    @include media-query($on-laptop) { 
        display: flex;
        box-sizing: border-box;
        height: 100%;
        width: 50%;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

#skills {
	scroll-margin-top: 90px;
    @include media-query($on-laptop) { 
        margin-bottom: 30px;
    }
}

.about h3 {
	font-weight: 600;
	font-size: 24px;
	letter-spacing: -0.6px;
	margin: 0;
	padding: 0;
	margin-bottom: 32px;
	margin-top: 64px;
    @include media-query($on-laptop) { 
        margin-top: 0;
    }
}

#skills ul {
	display: flex;
	flex-wrap: wrap;
}

#skills li {
	flex: 20%;
	font-size: 12px;
    @include media-query($on-laptop) { 
        flex: 30%;
    }
}

#skills p {
	margin: 0;
	padding: 0;
	margin-top: 6px;
	margin-bottom: 25px;
}

.about h4 {
	font-weight: 600;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}

.subheadline {
	font-size: 14px;
	margin-block-start: 0em;
    margin-block-end: 0em;
	margin-top: 6px;
}

.description {
	margin-top: 6px;
	margin-bottom: 30px;
}

#education {
	scroll-margin-top: 90px;
    @include media-query($on-laptop) { 
        margin-bottom: 30px;
    }
}






.about div:not(.three-facts, .selected-work), .profile-pic {
    @include media-query($on-laptop) { 
        box-sizing: border-box;
        flex: 50%;
        padding-right: 25px;
        padding-left: 25px;
    }
}


.about-me {
    margin-bottom: 30px;
    padding-left: 0;
}

.about-me p:first-child {
    margin-top: 0;
}

.selected-work{
    @include media-query($on-laptop) { 
        padding-top: 30px;
    }
}
*/

