html {
	scroll-behavior: smooth;
}


a {
	text-decoration: none;
}



/* Common Properties */

a.logo, #welcome a small, #contacts a {
	color: $color-primary;
}

 .hover-overlay, .work-button, footer {
	background-color: $color-primary;
}

#welcome {
	background-color: $color-neutral-light;
}

#about {
	border-bottom: 0.5px solid $color-primary;
}

#work figure, .work-button, footer p {
	color: $color-neutral-light;
}



body {
	height: 100vh; 
	min-height: 100vh; 
	margin: 0;
	margin: 0;
	font-family: $base-font-family;
	font-size: $base-font-size;
	background-color: $color-neutral-light;
	color: $color-primary;
		
	/* grid container settings */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 
		/*
		'header'*/
		'main'
		'footer';
}
  /*
  body > header {
	grid-area: header;
  }
  */
body > main {
	grid-area: main;
	margin: 0;
	margin: auto;
	max-width: 1280px;
	padding: 70px 20px 50px 20px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1 {
	margin: 0;
	padding: 0;
	padding-bottom: 36px;
	padding-top: 50px;
	font-size: 2.5rem;
	letter-spacing: -0.6px;
    @include media-query($on-laptop) { 
        text-align: center;
        flex: 100%;
        padding-bottom: 80px;
    }
}