html {
	scroll-behavior: smooth;
}


a {
	text-decoration: none;
}



/* Common Properties */

body, a.logo, #welcome a small, #contacts a {
	color: rgb(223, 131, 131);
}

#nav-links, .hover-overlay, .work-button, footer {
	background-color: rgb(223, 131, 131)
}

body, header, #welcome {
	background-color: white;
}

header, #about {
	border-bottom: 0.5px solid rgb(223, 131, 131);
}

#nav-links a, #work figure, .work-button, footer p {
	color: white;
}



body {
	height: 100vh; 
	min-height: 100vh; 
	margin: 0;
	margin: 0;
	font-family: $base-font-family;
		
	/* grid container settings */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 
		/*
		'header'*/
		'main'
		'footer';
}
  /*
  body > header {
	grid-area: header;
  }
  */
body > main {
	grid-area: main;
	margin: 0;
	max-width: 1280px;
	padding-top: 70px;
}