footer {
    grid-area: footer;
	align-self: end;
	width: $content-width;
	height: 140px;
	display: block;
	text-align: center;
	padding-top: 60px;
	@include media-query($on-laptop) { 
        position: relative;
	    height: 100px;
	    padding-top: 0;
    }
	p {
		font-weight: $base-font-bold;
		font-size: 0.9rem;
		letter-spacing: -0.6px;
		margin: 0;
		padding: 0;
		@include media-query($on-laptop) { 
            position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    left: 20px;
        }
	}
	nav {
		padding-bottom: 52px;
		@include media-query($on-laptop) { 
            padding-top: 35px;
		    padding-bottom: 0;
        }
	}
	a {
		padding-left: 30px;
		padding-right: 30px;
		@include media-query($on-laptop) { 
            padding-left: 20px;
		    padding-right: 20px;
		    padding-bottom: 0;
        }
	}
	img {
		vertical-align: middle;
	}
}