.homepage {
	@extend .text-content;
	scroll-margin-top: 70px;
	box-sizing: border-box;
	width: 100%;
	@include media-query($on-laptop) { 
		padding-top: 15vh;
		text-align: center;
		margin: auto;
	}
	p {
		font-weight: $base-font-bold;
		font-size: 1.3rem;
		line-height: 23px;
		letter-spacing: -1px;
		margin-bottom: 40px;
		margin-top: 0px;
	}
	strong {
		font-weight: $base-font-extrabold;
	}
	a {
		@include media-query($on-laptop) { 
			text-align: center;
		}
	}
}