.portfolio {
	margin: auto;
	scroll-margin-top: 70px;
	width: 100%;
    padding-bottom: 50px;
    padding-top: 1em;
	ul {
		@include media-query($on-laptop) { 
			margin:auto;
			padding-left: 20px;
			padding-right: 20px;
			max-width: 1260px;
			display: flex;
			flex-wrap: wrap;
		}
		.project {
			display: block;
			@include media-query($on-laptop) { 
				max-height: 350px;
				flex: 50%;
			}
			.image-wrapper {
				position: relative;
					&:hover .hover-overlay {
					display: inline;
					position: absolute;
				}
				.hover-overlay {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					display: none;
					cursor: pointer;
					width: 100%;
					height: 100%;
					z-index: 1;
					background-color: $color-primary;
					@include media-query($on-laptop) { 
						width: 100%;
					}
				}
			}
			figure {
				margin: 0;
				padding: 0;
				img {
					display: block;
				}
				.project-thumbnail {
					width: 100%;
					@include media-query($on-laptop) { 
						object-fit: cover;
						width: 100%;
					}
				}
				.project-description {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: $color-neutral-light;
					@include media-query($on-laptop) { 
						width: 60%;
					}
					h2 {
						box-sizing: border-box;
						padding: 0;
						margin: 0;
						font-weight: $base-font-extrabold;
						letter-spacing: -0.6px;
						text-align: center;
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}
