.project-topbar {
    padding-top: 30px;
    @include media-query($on-laptop) { 
        width: 850px;
        margin: auto;
        padding-top: 0px;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "back title space";
    }
    a {
        @include media-query($on-laptop) { 
            padding-top: 65px;
            grid-area: back;
            padding-left: 20px;
        }
    } 
    h1 {
        padding-top: 30px;
        grid-area: title;
        @include media-query($on-laptop) { 
            padding-top: 50px;  
        }
    }
}

.projectdetail {
    margin-bottom: 50px;
    @include media-query($on-laptop) { 
        box-sizing: border-box;
        width: 850px;
        margin: auto;
        padding-left: 20px;
        padding-top: 1em;
        padding-right: 20px;
        margin-bottom: 80px;
        text-align: center;
    }
    p {
        padding-top: 20px;
        @include media-query($on-laptop) { 
            padding-top: 40px;
            padding-bottom: 20px;
            width: 400px;
            margin: auto;
        }
    }
    .project-img {
        object-fit: cover;
        width: 100%;
    }
}