<nav>
    <h1>All projects</h3>
    <ul>
        {% for project in site.portfolio %}
            <li class="project">
                <a href="{{ project.link }}">
                    <figure>
                        <figcaption class="project-description">
                            <h2>{{ project.title }}</h2>
                            <p>{{ project.description }}</p>
                        </figcaption>
                        <img src="{{ site.baseurl }}{{ project.thumbnail }}" alt="{{ project.thumbnail_alt }}">
                    </figure>
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
