@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&display=swap');

// Variables

$base-font-family: 'Karla', sans-serif;
$base-font-medium: 300;
$base-font-bold: 400;
$base-font-extrabold: 600;
$base-font-size: 16px;

$color-primary: rgb(223, 131, 131);
$color-neutral-light: white;

$page-width: 100%;
$content-width: 850px;
$text-content-width: 400px;
$padding-mobile: 70px 20px 50px 20px;


//
/*
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;
*/
//


// Calculate Media Queries
$on-laptop:        850px !default;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}


// Partials

@import
  "personalpage/base",
  "personalpage/header",
  "personalpage/nav-portfolio",
  "personalpage/footer",
  "personalpage/contacts",
  "personalpage/about",
  "personalpage/project",
  "personalpage/homepage"
;
