@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&display=swap');

// Variables

$base-font-family: 'Karla', sans-serif;
$base-font-medium: 300;
$base-font-bold: 400;
$base-font-extrabold: 600;
$base-font-size: 16px;

$color-primary: #D04343;
$color-neutral-light: white;

$page-width: 100%;
$content-width: 850px;
$text-content-width: 400px;
$padding-mobile: 70px 20px 50px 20px;

$on-laptop:        850px !default;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}


// Partials

@import
  "personalpage/base",
  "personalpage/header",
  "personalpage/nav-portfolio",
  "personalpage/footer",
  "personalpage/contacts",
  "personalpage/about",
  "personalpage/project",
  "personalpage/homepage",
  "personalpage/header-links-animation"
;
