@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Karla', sans-serif;
}

.main {
	margin: auto;
	max-width: 1280px;
}

a {
	text-decoration: none;
}



/* Common Properties */

body, a.logo, #welcome a small{
	color: rgb(223, 131, 131);
}

#nav-links, .hover-overlay, .work-button, footer {
	background-color: rgb(223, 131, 131)
}

body, header, #welcome {
	background-color: white;
}

header, #about {
	border-bottom: 0.5px solid rgb(223, 131, 131);
}

#nav-links a, #work figure, .work-button, footer p {
	color: white;
}



/* Header */

header {
	box-sizing: border-box;
	height: 70px;
	width: 100%;
	position: fixed;
	margin: 0;
	z-index: 2;
}

.logo {
	font-weight: 400;
	font-size: 35px;
	letter-spacing: -2px;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

header button {
	position: absolute;
	right: 20px;	
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	padding: 0px;
  	border: none;
	background-color: transparent;
}

#nav-links {
	display: none;
	width: 100%;
	height: 100vh;
	margin-top: 0;
	padding-top: 100px;
	padding-left: 0;
}

#nav-links a {
	text-align: center;
	display: block;
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 24px;
}



/* Welcome Section */

#welcome {
	scroll-margin-top: 70px;
	box-sizing: border-box;
	width: 100%;
	padding: 140px 20px 0px 20px;
}

h1 {
	font-weight: 600;
	font-size: 36px;
	line-height: 23px;
	letter-spacing: -1px;
}

#welcome p {
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: -1px;
	margin-bottom: 110px;
}

#welcome strong {
	font-weight: 600;
}

#welcome a {
	display: block;
	width: 33%;
	margin-bottom: 30px;
	margin-left: 33%;
	margin-right: 33%;
	text-align: center;
}

#welcome img {
	margin: auto;
	box-sizing: border-box;
	padding: 0 20px 10px 20px ;
}

#welcome small {
	display: block;
	font-weight: 300;
	font-size: 14px;
}



/* Work Section */

#work {
	scroll-margin-top: 70px;
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.project {
	display: block;
	height: 350px;
}

#work figure {
	margin: 0;
	padding: 0;
}

.image-wrapper {
	position: relative;
	height: 350px;
}

.hover-overlay {
	display: none;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.image-wrapper:hover .hover-overlay {
	display: inline;
	position: absolute;
	opacity: 0.4;
}

.project-thumbnail {
	object-fit: cover;
	width: 100%;
	height: 350px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;  
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5) 80%);
}

figcaption {
	padding-right: 20px;
}

.project-description {
	box-sizing: border-box;
    position: absolute;
	left: 20px;
  	bottom: 15px;
}

h2 {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: -0.6px;
}

figcaption p {
	margin-top: 10px;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.6px;
}

.work-button {
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	transition: 0.3s;
	font-weight: 400;
	font-size: 16px;
	padding-left: 20px;
	padding-top: 40px;
}

.work-button:hover {
	opacity: 0.5;
}



/* About Me Section */

#about {
	box-sizing: border-box;
	scroll-margin-top: 70px;
	width: 100%;
	padding: 60px 20px 40px 20px;
}

#about h1 {
	margin: 0;
	padding: 0;
	padding-bottom: 36px;
}

.three-facts strong {
	display: block;
}

.three-facts p {
	margin-top: 0;
}

.profile-pic {
	display: none;
	width: 100%;
}

#skills {
	scroll-margin-top: 90px;
}

#about h3 {
	font-weight: 600;
	font-size: 24px;
	letter-spacing: -0.6px;
	margin: 0;
	padding: 0;
	margin-bottom: 32px;
	margin-top: 64px;
}

#skills ul {
	display: flex;
	flex-wrap: wrap;
}

#skills li {
	flex: 20%;
	font-size: 12px;
}

#skills p {
	margin: 0;
	padding: 0;
	margin-top: 6px;
	margin-bottom: 25px;
}

#about h4 {
	font-weight: 600;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}

.subheadline {
	font-size: 14px;
	margin-block-start: 0em;
    margin-block-end: 0em;
	margin-top: 6px;
}

.description {
	margin-top: 6px;
	margin-bottom: 30px;
}

#education {
	scroll-margin-top: 90px;
}



/* Contacts Section */

#contacts {
	box-sizing: border-box;
	scroll-margin-top: 70px;
	width: 100%;
	padding: 46px 20px 46px 20px;
}

#contacts h1 {
	margin: 0;
	padding: 0;
	padding-bottom: 36px;
}

#contacts a {
	text-decoration: underline;
}



/* Footer */

footer {
	width: 100%;
	height: 160px;
	display: block;
	text-align: center;
	padding-top: 60px;
}

footer nav {
	padding-bottom: 52px;
}

footer a {
	padding-left: 40px;
	padding-right: 40px;
}

footer img {
	vertical-align: middle;
}

footer p {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.6px;
	margin: 0;
	padding: 0;
}



/* MEDIA QUERY */

@media (min-width: 850px) {
	
	/* Header */
	
	header button {
		display: none;
	}
	
	#nav-links {
		display: block;
		position: absolute;
		width: auto;
		padding-top: 25px;
		right: 20px;
		background-color: transparent;
	}
	
	#nav-links a {
		display: inline;
		margin-left: 40px;
		font-weight: 300;
		font-size: 16px;
		color: rgb(223, 131, 131);
	}

	#nav-links a:hover {
		text-decoration: underline;
	}
	
	#nav-links a:nth-child(3) {  
  		display: none;
	}
	
	#nav-links a:nth-child(4) {  
  		display: none;
	}
	
	
	
	/* Welcome Section */
	
	#welcome {
		height: 270px;
		padding: 90px 31% 0 31%;
		text-align: center;
	}
	
	#welcome a {
		display: none;
	}
	
	
	
	/* Work Section */
	
	#work ul {
		display: flex;
		flex-wrap: wrap;
	}
	
	.project {
  		flex: 50%;
	}
	
	figcaption {
		width: 60%;
	}
	
	.work-button {
		text-align: center;
		padding-left: 0px;
	}
	
	
	
	/* About */
	
	#about {
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		width: 850px;
		padding-top: 80px;
		padding-bottom: 80px;
	}
	
	#about h1 {
		text-align: center;
		flex: 100%;
		padding-bottom: 80px;
	}
	
	#about h3 {
		margin-top: 0;
	}
	
	#about div:not(.three-facts), .profile-pic {
		box-sizing: border-box;
		flex: 50%;
		padding-right: 25px;
		padding-left: 25px;
	}
	
	.profile-pic {
		display: flex;
		box-sizing: border-box;
		height: 100%;
		width: 50%;
	}
	
	.about-me {
		margin-bottom: 30px;
		padding-left: 0;
	}
	
	.about-me p:first-child {
		margin-top: 0;
	}
	
	#skills {
		margin-bottom: 30px;
	}
	
	#skills li {
		flex: 30%;
	}
	
	.education {
		margin-bottom: 30px;
	}
	
	
	
	/* Contacts */
	
	#contacts {
		text-align: center;
		width: 400px;
		margin: auto;
		padding: 80px 0 80px 0;
	}
	
	
	
	/* Footer */
	
	footer {
		position: relative;
		height: 100px;
		padding-top: 0;
	}	
		
	footer p {
		position: absolute;
		top: 50%;
    	transform: translateY(-50%);
		left: 20px;
	}
	
	footer nav {
		padding-top: 35px;
		padding-bottom: 0;
	}
	
	footer a {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 0;
	}
	
}
